lombok.accessors.chain = true
# add Qualifier to required args constructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# Do not use following silly annotations.
lombok.val.flagUsage = error
lombok.extensionMethod.flagUsage = error
lombok.equalsandhashcode.donotusegetters = true

lombok.sneakyThrows.flagUsage = error

# use log4j2
lombok.log.slf4j.flagUsage = error
lombok.log.apacheCommons.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.xslf4j.flagUsage=error

lombok.nonNull.exceptionType = IllegalArgumentException
